<main id="main" class="main">

    <div class="pagetitle">
        <h1>Upload de notas fiscais protocoladas de terceiros</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Notas fiscais</li>
                <li class="breadcrumb-item active">Upload</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body mt-4">
                        <div class="row">

                            <div class="col-md-2 text-center">
                                <button type="submit" class="btn btn-primary btn-sm btn-sm-margins" id="search"><i class="bi bi-search"></i> Buscar</button>
                            </div>

                            <div class="col-md-4">
                                <label for='xmlFile' id="btn-xmlFile" class="btn btn-primary btn-sm btn-sm-margins">Selecionar XML NFe &#187;</label>
                                <input type="file" multiple="multiple" class="d-none" accept="text/xml" id="xmlFile" />
                            </div>

                            <div class="col-md-2 text-center">
                                <a href="conditionpayment.html?0?add" type="button" class="btn btn-primary btn-sm btn-sm-margins" id="add" name="add"><i class="bi bi-journal-plus"></i> Adicionar</a>
                            </div>
                        </div>

                        <div class="ms-2 mt-4" id="statusMsg"></div>
                        <hr />

                        <!-- Table -->
                        <table class="table" id="table-manpower">
                            <thead>
                                <tr>
                                    <th scope="col">NF</th>
                                    <th scope="col" class="text-center">Chave SEFAZ</th>
                                    <th scope="col" class="text-center">Destinatário</th>
                                    <th scope="col" class="text-center">CNPJ / CPF</th>
                                    <th scope="col" class="text-center">Natureza da operação</th>
                                    <th scope="col" class="text-center">Valor Total</th>
                                    <th scope="col" class="text-center">Valor ICMS</th>
                                    <th scope="col" class="text-center">Valor IPI</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody id="resultList">
                            </tbody>
                        </table>
                        <!-- End Table -->

                        <span id="resultMsg"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- Modal Delete item -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Excluir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" id="id" name="id" value="0">
            <div class="modal-body">
                <p id="item-delete-name"></p>
                Deseja execluir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" id="delete" name="delete">Excluir</button>
            </div>
        </div>
    </div>
</div>
